<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <!-- Fuentes tipograficas -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&family=Roboto:wght@100&display=swap" rel="stylesheet">

  <link rel="icon" href="assets/rueda-de-color.png" type="image/svg+xml">
  <link rel="shortcut icon" type="image/x-icon" href="../assets/logo.png" />
  <link rel="stylesheet" href="../css/crear-cuenta.css">
  <title>LevelUp Access</title>
</head>
<body>
  <header>
    <nav>
     
     
      <h1 class="title">
        <a href="../index.html">
          <img class = "logo" src="../assets/logo.png" alt="LevelUp Access logo">
        </a>
        Crear Cuenta
      </h1>
      <div class="buscar-container">
        <i class="fas fa-search lupa" style="color: white"></i>
        <input type="text" class="buscar-barra" placeholder="Buscar">
      </div>

      <ul class="clases-menu">
        <li><a href="tienda.html">Tienda</a></li>
        <li><a href="categorias.html">Categorías</a></li>
        <li><a href="ofertas.html">Ofertas</a></li>
      </ul>
     
      <ul class="iconos-menu">        
        <li class="icono-corazon"><a href="#"><i class="fas fa-heart"></i></a></li>
        <li class="icono-carrito"><a href="carrito.html"><i class="fas fa-shopping-cart"></i></a></li>
      </ul>
     
      <ul class="cuenta-menu">        
        <li class="iconos"><a href="config-cuenta.html"><i class="fas fa-user"></i></a></li>
        <li class="iconos"><a href="#"><i class="fas fa-user"></i></a></li>
      </ul>

      <button class="hamburguesa" type="button">
        <span class="br-1"></span>
        <span class="br-2"></span>
        <span class="br-3"></span>
      </button>
    </nav>
  </header>

 
  <!-- ESTE ES EL ESPACIO DE LOS INPUTS  -->


  <form action="#">
    <div class="container-form">
        <div class="logo-form">
            <img src="../assets/logo.png" alt="">
        </div>
        <div class="texto-iniciar">
            <h2>Regístrate en LevelUp Access</h2>
        </div>
        <div class="inputs">
          <input type = "text" class="nombre" placeholder="Nombre">
          <input type = "text" class="apellidos" placeholder="Apellidos">

        </div>
        <div class="inputs">
            <input type = "text" class="correo" placeholder="Dirección de correo electrónico">
            <input type="password" class="password" placeholder="Contraseña" id="passwordInput">
            <span class="toggle-password" onclick="togglePassword()">
               <img src="../assets/visible.png" alt="Mostrar contraseña" id="eyeIcon">
            </span>
        </div>

        <div class="terminos-condiciones">
          <h3>Al registrarte aceptas los términos y condiciones</h3>
        </div>

        <div class="btn-sesion">
            <a href="iniciar-sesion.html" class="">CREAR CUENTA</a>
        </div>
    </div>
  </form>


  <div class="foot">
    <div class="faq-title">
      <h1 class="faq">FAQ</h1>
    </div>

    <div class="redes-sociales">
      <div class="circle">
        <a href="#">
          <i class="icon fab fa-facebook-f"></i>
        </a>
      </div>
      <div class="circle">
        <a href="#">
          <i class="icon fab fa-instagram"></i>
        </a>
      </div>
      <div class="circle">
        <a href="#">
          <i class="icon fas fa-times"></i>
        </a>
      </div>
      <div class="circle">
        <a href="#">
          <i class="icon fas fa-question"></i>
        </a>
      </div>
    </div>

    <div class="ayuda">
      <a href="#">
        <img src="../assets/paleta.png" alt="Icono de ayuda">
      </a>
    </div>
 
  </div>


  <script src="../js/main.js"></script>
  <script src="../js/ver_password.js"></script>
</body>
</html>
 
