<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <!-- Fuentes tipograficas -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&family=Roboto:wght@100&display=swap" rel="stylesheet">

  <link rel="icon" href="assets/rueda-de-color.png" type="image/svg+xml">
  <link rel="shortcut icon" type="image/x-icon" href="assets/logo.png" />
  <link rel="stylesheet" href="css/style.css">
  <title>LevelUp Access</title>
</head>
<body>
  <header>
    <nav>
      
      
      <h1 class="title">
        <a href="index.html">
          <img class = "logo" src="assets/logo.png" alt="LevelUp Access logo">
        </a>
        LevelUp <span class="rojo">Access</span>
      </h1>
      <div class="buscar-container">
        <i class="fas fa-search lupa" style="color: white"></i>
        <input type="text" class="buscar-barra" placeholder="Buscar">
      </div>

      <ul class="clases-menu">
        <li><a href="views/tienda.html">Tienda</a></li>
        <li><a href="views/categorias.html">Categorías</a></li>
        <li><a href="views/ofertas.html">Ofertas</a></li>
      </ul>
      
      <ul class="iconos-menu">        
        <li class="icono-corazon"><a href="#"><i class="fas fa-heart"></i></a></li>
        <li class="icono-carrito"><a href="views/carrito.html"><i class="fas fa-shopping-cart"></i></a></li>
      </ul>
      
      <ul class="cuenta-menu">        
        <li class="iconos"><a href="views/config-cuenta.html"><i class="fas fa-user"></i></a></li>
        <li class="iconos"><a href="#"><i class="fas fa-user"></i></a></li>
      </ul>

      <button class="hamburguesa" type="button">
        <span class="br-1"></span>
        <span class="br-2"></span>
        <span class="br-3"></span>
      </button>
    </nav>
  </header>

  
  <!-- ESTE ES EL SLIDER  -->
  <div class="slides">
    <div class="slide slide-1">
      <img src="assets/cod.jpg" alt="">
    </div>
    <div class="slide slide-2">
      <img src="assets/mine-banner.jpg" alt="">
    </div>
    <div class="slide slide-3">
      <img src="assets/fondo-acceder.jpg" alt="">
    </div>
    <div class="slide slide-4">
      <img src="assets/r6-banner.jpeg" alt="">
    </div>
    <div class="slide slide-5">
      <img src="assets/zomboid.jpg" alt="">
    </div>
  </div>

  <div class="texto-container">
    <h2 class="bienvenida-texto">
      Descubre lo que LevelUp Access tiene para ti, lo mejor <br> está por venir!
    </h2>
    <a href="views/iniciar-sesion.html" class="empezar-boton">
      Empezar
    </a>
  </div>
  

  <div class="foot">
    <div class="faq-title">
      <h1 class="faq">FAQ</h1>
    </div>

    <div class="redes-sociales">
      <div class="circle">
        <a href="#">
          <i class="icon fab fa-facebook-f"></i>
        </a>
      </div>
      <div class="circle">
        <a href="#">
          <i class="icon fab fa-instagram"></i>
        </a>
      </div>
      <div class="circle">
        <a href="#">
          <i class="icon fas fa-times"></i>
        </a>
      </div>
      <div class="circle">
        <a href="#">
          <i class="icon fas fa-question"></i>
        </a>
      </div>
    </div>

    <div class="ayuda">
      <a href="#">
        <img src="assets/paleta.png" alt="Icono de ayuda">
      </a>
    </div>
  
  </div>


  <script src="js/main.js"></script>
</body>
</html>