<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  {% load static %}
  <!-- Fuentes tipograficas -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&family=Roboto:wght@100&display=swap" rel="stylesheet">

  <link rel="icon" href="{% static 'ecommerce/assets/rueda-de-color.png' %}" type="image/svg+xml">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'ecommerce/assets/logo.png' %}" />
  <link rel="stylesheet" href="{% static 'ecommerce/css/ofertas.css' %}">
  <title>LevelUp Access</title>
</head>
<body>
  <header>
    <nav>
     
     
      <h1 class="title">
        <a href="{%url 'index' %}">
          <img class = "logo" src="{% static 'ecommerce/assets/logo.png' %}" alt="LevelUp Access logo">
        </a>
        Ofertas
      </h1>
      <div class="buscar-container">
        <!-- <i class="fas fa-search lupa" style="color: white"></i> -->
        <form method="post" action="{% url 'buscar_productos' %}">
          {% csrf_token %}
          <input type="text" name="q" placeholder="Buscar productos" class="buscar-barra">
          <button type="submit">Buscar</button>
        </form>
      </div>

      <ul class="clases-menu">
        <li><a href="{%url 'tienda' %}">Tienda</a></li>
        <li><a href="{%url 'categorias' %}">Categorías</a></li>
        <li><a href="{%url 'ofertas' %}">Ofertas</a></li>
      </ul>
     
      <ul class="cuenta-menu">        
        
        {% block content %}
        {% if user.is_authenticated %}
        <ul class="iconos-menu">   
          <li class="icono-corazon"><a href="{%url 'historial' %}"><i class="fas fa-book"></i></a></li>
          <li class="icono-carrito"><a href="{%url 'carrito' %}"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
   
        <ul class="cuenta-menu">  
          <li class="iconos"><a href="{%url 'config-cuenta' %}"><i class="fas fa-user"></i></a></li>
          <li class="iconos"><a href="/logout/"><i class="fa-solid fa-door-open"></i></a></li>
        </ul>

        {% else %}

        <li>
          <a href="/crear-cuenta/">Crear Cuenta</a>
        </li>

        <li>
          <a href="/iniciar-sesion/">Inicia Sesion</a>
        </li>

        {% endif %}
        {% endblock %}
      </ul>

      <button class="hamburguesa" type="button">
        <span class="br-1"></span>
        <span class="br-2"></span>
        <span class="br-3"></span>
      </button>
    </nav>
  </header>

 
  <!-- ESTE ES EL ESPACIO DE LOS JUEGOS  -->


  <div class="juegos-container">
    <div class="juegos-promocion">
      <h1 class="juegos-content-text">Juegos en promocion</h1>
    </div>
    <div class="primera-fila-container">
        <div class="portada-1">
          <a href="{%url 'juego' %}">
            <img src="{% static 'ecommerce/assets/r6-cover.png' %}" alt="">
          </a>

            <div class="categoria-porcentaje-container">
              <h3 class="categoria-juego">PLATAFORMAS Y DISPAROS</h3>
              <h3 class="categoria-porciento">-54%</h3>
            </div>
            <div class="titulo-precio-container">
              <h3 class="categoria-titulo">Rainbow Six</h3>
              <h3 class="categoria-precio">$5.00</h3>
            </div>
        </div>
        <div class="portada-1">
          <a href="{%url 'juego' %}">
            <img src="{% static 'ecommerce/assets/cuphead-cover.jpg' %}" alt="">
          </a>

            <div class="categoria-porcentaje-container">
              <h3 class="categoria-juego">PLATAFORMAS Y DISPAROS</h3>
              <h3 class="categoria-porciento">-54%</h3>
            </div>
            <div class="titulo-precio-container">
              <h3 class="categoria-titulo">Cuphead</h3>
              <h3 class="categoria-precio">$5.00</h3>
            </div>

        </div>
           
        <div class="portada-1">
          <a href="{%url 'juego' %}">
            <img src="{% static 'ecommerce/assets/jedi-cover.jpg' %}" alt="">
          </a>
            <div class="categoria-porcentaje-container">
              <h3 class="categoria-juego">ACCIÓN Y AVENTURA</h3>
              <h3 class="categoria-porciento">-54%</h3>
            </div>
            <div class="titulo-precio-container">
              <h3 class="categoria-titulo">Jedi Falllen Order</h3>
              <h3 class="categoria-precio">$5.00</h3>
            </div>
        </div>
        <div class="portada-1">
          <a href="{%url 'juego' %}">
            <img src="{% static 'ecommerce/assets/battle-cover.jpg' %}" alt="">
          </a>

            <div class="categoria-porcentaje-container">
              <h3 class="categoria-juego">PLATAFORMAS Y DISPAROS</h3>
              <h3 class="categoria-porciento">-54%</h3>
            </div>
            <div class="titulo-precio-container">
              <h3 class="categoria-titulo">SW: Battlefront II</h3>
              <h3 class="categoria-precio">$5.00</h3>
            </div>
        </div>
    </div>

    <div class="primera-fila-container">
      <div class="portada-1">
        <a href="{%url 'juego' %}">
          <img src="{% static 'ecommerce/assets/spider.png' %}" alt="">
        </a>

          <div class="categoria-porcentaje-container">
            <h3 class="categoria-juego">ACCIÓN Y AVENTURA</h3>
            <h3 class="categoria-porciento">-54%</h3>
          </div>
          <div class="titulo-precio-container">
            <h3 class="categoria-titulo">Spider Man II</h3>
            <h3 class="categoria-precio">$5.00</h3>
          </div>

      </div>
      <div class="portada-1">
        <a href="{%url 'juego' %}">
          <img src="{% static 'ecommerce/assets/reded-cover.jpg' %}" alt="">
        </a>

          <div class="categoria-porcentaje-container">
            <h3 class="categoria-juego">ACCIÓN Y AVENTURA</h3>
            <h3 class="categoria-porciento">-54%</h3>
          </div>
          <div class="titulo-precio-container">
            <h3 class="categoria-titulo">Red Dead Redemption</h3>
            <h3 class="categoria-precio">$5.00</h3>
          </div>

      </div>
         
      <div class="portada-1">
        <a href="{%url 'juego' %}">
          <img src="{% static 'ecommerce/assets/fifa-cover.jpg' %}" alt="">
        </a>

          <div class="categoria-porcentaje-container">
            <h3 class="categoria-juego">DEPORTES</h3>
            <h3 class="categoria-porciento">-54%</h3>
          </div>
          <div class="titulo-precio-container">
            <h3 class="categoria-titulo">Fifa 15</h3>
            <h3 class="categoria-precio">$5.00</h3>
          </div>

      </div>
      <div class="portada-1">
        <a href="{%url 'juego' %}">
          <img src="{% static 'ecommerce/assets/watch-dogs-cover.jpg' %}" alt="">
        </a>


          <div class="categoria-porcentaje-container">
            <h3 class="categoria-juego">PLATAFORMAS Y DISPAROS</h3>
            <h3 class="categoria-porciento">-54%</h3>
          </div>
          <div class="titulo-precio-container">
            <h3 class="categoria-titulo">Watch Dogs</h3>
            <h3 class="categoria-precio">$5.00</h3>
          </div>

      </div>
  </div>

  <div class="primera-fila-container">

      <div class="portada-1">
        <a href="{%url 'juego' %}">
          <img src="{% static 'ecommerce/assets/assasins-cover.jpeg' %}" alt="">
        </a>

          <div class="categoria-porcentaje-container">
            <h3 class="categoria-juego">ACCIÓN Y AVENTURA</h3>
            <h3 class="categoria-porciento">-54%</h3>
          </div>
          <div class="titulo-precio-container">
            <h3 class="categoria-titulo">Assassins Creed I</h3>
            <h3 class="categoria-precio">$5.00</h3>
          </div>

      </div>
      <div class="portada-1">
        <a href="{%url 'juego' %}">
          <img src="{% static 'ecommerce/assets/minecraft-cover.jpg' %}" alt="">
        </a>

          <div class="categoria-porcentaje-container">
            <h3 class="categoria-juego">ACCIÓN Y AVENTURA</h3>
            <h3 class="categoria-porciento">-54%</h3>
          </div>
          <div class="titulo-precio-container">
            <h3 class="categoria-titulo">Minecraft</h3>
            <h3 class="categoria-precio">$5.00</h3>
          </div>
      </div>
         
      <div class="portada-1">
        <a href="{%url 'juego' %}">
          <img src="{% static 'ecommerce/assets/gears-cover.jpg' %}" alt="">
        </a>

          <div class="categoria-porcentaje-container">
            <h3 class="categoria-juego">PLATAFORMAS Y DISPAROS</h3>
            <h3 class="categoria-porciento">-54%</h3>
          </div>
          <div class="titulo-precio-container">
            <h3 class="categoria-titulo">Gears of War</h3>
            <h3 class="categoria-precio">$5.00</h3>
          </div>
      </div>
      <div class="portada-1">
        <a href="{%url 'juego' %}">
          <img src="{% static 'ecommerce/assets/zomboid-cover.jpg' %}" alt="">
        </a>

          <div class="categoria-porcentaje-container">
            <h3 class="categoria-juego">ACCIÓN Y AVENTURA</h3>
            <h3 class="categoria-porciento">-54%</h3>
          </div>
          <div class="titulo-precio-container">
            <h3 class="categoria-titulo">Project Zomboid</h3>
            <h3 class="categoria-precio">$5.00</h3>
          </div>
      </div>
  </div>
</div> 

  <div class="foot">
    <div class="faq-title">
      <h1 class="faq">FAQ</h1>
    </div>

    <div class="redes-sociales">
      <div class="circle">
        <a href="#">
          <i class="icon fab fa-facebook-f"></i>
        </a>
      </div>
      <div class="circle">
        <a href="#">
          <i class="icon fab fa-instagram"></i>
        </a>
      </div>
      <div class="circle">
        <a href="#">
          <i class="icon fas fa-times"></i>
        </a>
      </div>
      <div class="circle">
        <a href="#">
          <i class="icon fas fa-question"></i>
        </a>
      </div>
    </div>

    <div class="ayuda">
      <a href="#">
        <img src="{% static 'ecommerce/assets/paleta.png' %}" alt="Icono de ayuda">
      </a>
    </div>
 
  </div>


  <script src="{% static 'ecommerce/js/main.js' %}"></script>
</body>
</html>
 
