<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  {% load static %}
  <!-- Fuentes tipograficas -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&family=Roboto:wght@100&display=swap" rel="stylesheet">

  <link rel="icon" href="assets/rueda-de-color.png" type="image/svg+xml">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'ecommerce/assets/logo.png' %}" />
  <link rel="stylesheet" href="{% static 'ecommerce/css/procesar-pago.css' %}">
  <title>LevelUp Access</title>
</head>
<body>
  <header>
    <nav>
     
     
      <h1 class="title">
        <a href="{%url 'index' %}">
          <img class = "logo" src="{% static 'ecommerce/assets/logo.png' %}" alt="LevelUp Access logo">
        </a>
        Búsqueda
      </h1>
      <div class="buscar-container">
        <i class="fas fa-search lupa" style="color: white"></i>
        <input type="text" class="buscar-barra" placeholder="Buscar">
      </div>

      <ul class="clases-menu">
        <li><a href="{%url 'tienda' %}">Tienda</a></li>
        <li><a href="{%url 'categorias' %}">Categorías</a></li>
        <li><a href="{%url 'ofertas' %}">Ofertas</a></li>
      </ul>
     
      <ul class="cuenta-menu">        
        
        {% block content %}
        {% if user.is_authenticated %}
        <ul class="iconos-menu">   
          <li class="icono-corazon"><a href="#"><i class="fas fa-book"></i></a></li>
          <li class="icono-carrito"><a href="{%url 'carrito' %}"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
   
        <ul class="cuenta-menu">  
          <li class="iconos"><a href="{%url 'config-cuenta' %}"><i class="fas fa-user"></i></a></li>
          <li class="iconos"><a href="/logout/"><i class="fa-solid fa-door-open"></i></a></li>
        </ul>

        {% endif %}
        {% endblock %}
        
      </ul>

      <button class="hamburguesa" type="button">
        <span class="br-1"></span>
        <span class="br-2"></span>
        <span class="br-3"></span>
      </button>
    </nav>
  </header>

 
  <!-- ESTE ES EL ESPACIO PARA LOS PRODUCTOS  -->
  <div class="texto-metodo-container">
      <h2 class="metodo-texto">Selecciona un método de pago</h2>
  </div>

  <div class="metodo-container">
    <div class="metodo">
        <h2>SELECCIONA UN MÉTODO DE PAGO</h2>

        <div class="raya"></div>

        <div class="tarjeta">
            <input type="radio" name="metodoPago" id="tarjeta1">
            <label class="tarjeta-texto">Tarjeta de crédito</label>
            <!-- Otros elementos dentro de la tarjeta -->
        </div>

        <div class="tarjeta">
            <input type="radio" name="metodoPago" id="tarjeta2">
            <label class="tarjeta-texto">Tarjeta de débito</label>
            <!-- Otros elementos dentro de la tarjeta -->
        </div>

        <div class="tarjeta">
            <input type="radio" name="metodoPago" id="tarjeta3">
            <label class="tarjeta-texto">PayPal</label>
            <!-- Otros elementos dentro de la tarjeta -->
        </div>
        <div class="tarjeta">
            <input type="radio" name="metodoPago" id="tarjeta3">
            <label class="tarjeta-texto">OxxoPay</label>
            <!-- Otros elementos dentro de la tarjeta -->
        </div>
    </div>

    <div class="resumen">
      <h1 class="resumen-compra">RESUMEN DE COMPRA</h1>
        <div class="juegos-pago">

          <div class="container-juego">
            <div class="juego-foto">
              <img src="{% static 'ecommerce/assets/download.png' %}" alt="">
            </div>
  
            <div class="juego-titulo">
              <h1>
                Yeyos's game
              </h1>
              <h2>
                MXN 20.00
              </h2>
            </div>
            
          </div><!-- Aqui termina container-juego -->
          <div class="container-juego">
            <div class="juego-foto">
              <img src="{% static 'ecommerce/assets/download.png' %}" alt="">
            </div>
  
            <div class="juego-titulo">
              <h1>
                Yeyos's game
              </h1>
              <h2>
                MXN 20.00
              </h2>
            </div>
            
          </div><!-- Aqui termina container-juego -->

          <div class="container-juego">
            <div class="juego-foto">
              <img src="{% static 'ecommerce/assets/download.png' %}" alt="">
            </div>
  
            <div class="juego-titulo">
              <h1>
                Yeyos's game
              </h1>
              <h2>
                MXN 20.00
              </h2>
            </div>
            
          </div><!-- Aqui termina container-juego -->
    </div>

    <div class="precio-datos">
      <h1>Precio</h1>
      <h1 class="precio-total">$824MXN</h1>
    </div>
    
    <div class="raya2"></div>
    
    <div class="total-datos">
      <h1>Total</h1>
      <h1 class="precio-total">$824MXN</h1>
    </div>

    <a href="{%url 'procesar-pago' %}" class="finalizar-compra">Confirmar compra</a>
    <a href="{%url 'carrito' %}" class="cancelar-compra">Cancelar compra</a>


</div>



 




  <!-- <div class="foot">
    <div class="faq-title">
      <h1 class="faq">FAQ</h1>
    </div>

    <div class="redes-sociales">
      <div class="circle">
        <a href="#">
          <i class="icon fab fa-facebook-f"></i>
        </a>
      </div>
      <div class="circle">
        <a href="#">
          <i class="icon fab fa-instagram"></i>
        </a>
      </div>
      <div class="circle">
        <a href="#">
          <i class="icon fas fa-times"></i>
        </a>
      </div>
      <div class="circle">
        <a href="#">
          <i class="icon fas fa-question"></i>
        </a>
      </div>
    </div> -->

    <div class="ayuda">
      <a href="#">
        <img src="../assets/paleta.png" alt="Icono de ayuda">
      </a>
    </div>



  </div>

  <script src="../js/main.js"></script>
  <script src="../js/ver_password.js"></script>
</body>
</html>
 