*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.slider{
    overflow: hidden;
    /* position: relative;  */
 }
 
 .slider--inner{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     transition: all 0.3s ease-in;
 }
 
 .slider--inner img {
     width: 100%;
 }

