@font-face {
    font-family: 'titulo';
    src: url("Fuente que si tiene el usuario pues jala"), url(../fonts/Rajdhani-Bold.ttf);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


.title{
    display: flex;
    position: fixed;
    flex-direction: row;
    left: 90px;
    color: white;
    font-family: 'titulo';
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    position: relative;
    /* background-color: #404044; */
    width: 60px;
    height: 50px;
    text-decoration: none;
}

.buscar-container {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 330px;
    /* top: 1.8vh; */
}

.rojo{
    color: #EF3340;
}

nav{
    display: flex;
    position: fixed;
    width: 100%;
    /* height: 70px; */
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-height: 8vh;
    background-color: #121212;
    /* margin-bottom: 9vh; */
    z-index: 1000;
}

.hamburguesa{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.hamburguesa span{
    display: block;
    background-color: #6d6d6d;
    height: 2px;
    width: 28px;
    margin: 8px auto;
    border-radius: 2px;
}
  
.lupa {
    position: absolute;
    top: 50%;
    left: 10px; /* Ajusta el valor según sea necesario */
    transform: translateY(-50%);
    color: white;
    font-size: 1.2rem;
    z-index: 1; /* Para que la lupa esté por encima del campo de entrada */
}
  
.buscar-barra {
    display: block;
    position: relative;
    background-color: #2c2c2c;
    border-radius: 12px;
    color: white;
    padding-left: 30px; /* Ajusta el valor según sea necesario */
    width: 300px; /* Ajusta el valor según sea necesario */
    height: 35px;
    border: none;
}


/* .logo, .buscar-container {
    position: fixed;
    top: 10px; /* Ajusta la distancia superior deseada 
    left: 10px; /* Ajusta la distancia izquierda deseada 
    z-index: 2; /* Ajusta la capa z-index según sea necesario 
} */
  
/* TIENDA, CATEGORIAS, OFERTAS */
.clases-menu {
    display: flex;
    position: fixed;
    left: 620px; /* Ajusta la posición izquierda según sea necesario */
    width: 300px; /* Ajusta el ancho deseado */
}

/* Cuando el menú está activado, muestra el menú moviéndolo hacia la posición deseada */
.clases-menu.activado {
    transform: translateX(0);
    left: 0;
    position: relative;
}

.clases-menu li{
    padding: 0 20px;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
}

.clases-menu li a{
    text-decoration: none;
    color: #6d6d6d;
    font-size: 1.4rem;
}

.clases-menu li:hover{
    background-color: #404044;
    border-radius: 5px;
}
/* TIENDA, CATEGORIAS, OFERTAS */

.iconos-menu{
    display: flex;
    padding: 0;
    border-right: 2px solid #6D6D6D; /* Color y estilo del borde derecho */
    padding-right: 10px; /* Espacio entre la línea y el contenido */
    margin-right: 10px; /* Espacio entre las listas */
    transform: translateX(-80px);
}

.iconos-menu.activado {
    transform: translateX(0);
    left: 0;
    position: relative;
}

.iconos-menu li{
    padding: 0 20px;
    list-style-type: none;
    transition: 0.3s;

}

.iconos-menu li a:hover{
    transition: 0.3s;
    color: #EF3340;
    /* border-radius: 5px; */
}

.iconos-menu li a{
    transition: 0.3s;
    text-decoration: none;
    color: #6d6d6d;
    font-size: 1.8rem;
}

.cuenta-menu{
    display: flex;
    padding: 0;
    transform: translateX(-80px);
}

.cuenta-menu.activado {
    transform: translateX(0);
    left: 0;
    position: relative;
}

.cuenta-menu li{
    padding: 0 20px;
    list-style-type: none;
    transition: 0.3s;
}

.cuenta-menu li a{
    text-decoration: none;
    color: #6d6d6d;
    font-size: 1.8rem;
}


/*AQUI EMPEZAREMOS A METER EL CODIGO DE LA TIENDA*/




 /* empezamos con la tienda */

 /* CONTENEDOR DE LA IZQUIERDA */
.container{
    position: relative;
    width: 100%;
    display: flex;
    /* background-color: #EF3340; */
    z-index: 1;
}

.left-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100vh;
    background-color: #121212;
}

.iconos-tienda-caja {
    position: relative;
    top: 8vh;
    padding: 0;
}

.left-container li {
    display: flex;
    color: white;
    position: relative;
    list-style-type: none;
    font-size: 1vw;
    margin: 5px 0;
    /* background-color: aquamarine; */
}

.left-container li a {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center; /* Alinea el icono y el texto verticalmente */
    padding: 2vh 7vh;
    transition: background-color 0.3s ease;
}

.left-container li a img {
    margin-right: 8px; /* Ajusta el margen entre el icono y el texto según sea necesario */
    height: 3vh; /* Ajusta la altura del icono según sea necesario */
    width: 1.5vw; /* Ajusta el ancho del icono según sea necesario */
}

.left-container li a:hover {
    background-color: #202020;
    border-radius: 5px;
    padding: 2vh 7vh;
}


.left-container li a i {
    margin-right: 10px; /* Ajusta el margen entre el icono y el texto según sea necesario */
}

/* CONTENEDOR DEL MEDIO */

.center-container{
    display: flex;
    position: relative;
    width: 65%;
    height: 100vh;
    background-color: #121212;
    z-index: -1;
}

.slider{
    overflow: hidden;
    z-index: -1;
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    top: 10vh;
 }
 
.slider--inner{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     transition: all 0.3s ease-in;

     width: 60vw;

 }
 
.slider--inner img {
    border-radius: 20px;
    width: 100%;
}






/* CONTENEDOR DE LA DERECHA */
.right-container{
    display: flex;
    position: relative;
    right: 0px;
    
    width: 20%;
    height: 100vh;
    background-color: #121212;
    flex-direction: column;
}

.juegos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 10vh;
    height: 100vh;
}

.right-container img{
    width: 4vw;
    height: 12vh;
    border-radius: 10px;
}

.portadas{
    display: flex;
    margin-bottom: 5vh;
}

.portadas h2{
    margin-top: 4.5vh;
    margin-left: 1vw;
}

.portadas a{
    text-decoration: none;
    color: white;
}



 /* Footer */

.foot{
    display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;
    /* margin-top: -104px; */
    height: 16vh;
    background-color: #202020;
    z-index: 10;
    color: #6D6D6D;
}

.faq-title{
    display: flex;
    position: relative;
    margin: 0;
}

.faq {
    font-size: 30px;
    display: flex;
    position: relative;
    /* background-color: #EF3340; */
    top: 2vh;
    left: 30px;
    margin: 0;
    padding: 0;
}

.redes-sociales {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.circle {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #EF3340;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 3vh;
}

.ayuda{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    z-index: 100;
    right: 4vw;
    bottom: 5vh;
}

.icon {
    font-size: 30px;
    color: #121212;
}

.ayuda img{
    width: 30px;
    height: 30px;
    margin: 10px;
}

/* Algo pa deployar */

/* RESPONSIVE */

@media (max-width:1280px){
    body{
        overflow: hidden;
    }

    /* .logo{
        position: relative;
        left: 48px;
        top: 15px;
        /* padding-left: 25px; */
        /* align-items: center; 
    } */

    .title{
        display: flex;
        position: relative;
        margin: 0;
        left: 110px;
        /* top: -30px; */
        /* bottom: 45px; */
        align-items: center;
        margin-bottom: 10px;
        /* background-color: pink; */
    }

    .hamburguesa{
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        transition: 0.2s 0.1s;
    }

    .hamburguesa:hover{
        transform: rotate(360deg);
    }

    nav{
        flex-direction:column ;
        align-items: flex-start;
        /* Padding 0 25px; */
    }

    .buscar-container{
        display: none;
    }

    .clases-menu{
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        height: 20vh;
        padding: 0;
        width: 100%;
        /* background-color: pink; */
        display: none;
        opacity: 0;
    }

    .iconos-menu{
        flex-direction: column;
        /* justify-content: space-around; */
        border: none;
        align-items: center;
        width: 100%;
        height: 14vh;
        margin: 0;
        padding: 0;
        display: none;
        /* background-color: #EF3340; */
        opacity: 0;
    }

    .cuenta-menu{
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        width: 100%;
        height: 60vh;
        margin: 0;
        padding: 0;
        display: none;
        /* background-color: #EF3340; */
        opacity: 0;
    }

    .clases-menu li{
        width: 90%;
        background-color: #202020;
        border-radius: 10px;
        height: 3.5em;
        margin-bottom: 10px;
    }

    .icono-corazon a::before {
        content: "Wishlist"; /* Agrega el texto que desees */
        font-size: 1.4rem;
        margin-right: 8px; /* Espacio entre el icono y el texto */
    }

    .icono-carrito a::before {
        content: "Carrito de compra"; /* Agrega el texto que desees */
        font-size: 1.4rem;
        margin-right: 8px; /* Espacio entre el icono y el texto */
    }

    .iconos-menu li{
        width: 90%;
        background-color: #202020;
        border-radius: 10px;
        height: 3.5em;
        margin-bottom: 10px;
    }

    .cuenta-menu li{
        width: 90%;
        background-color: #202020;
        border-radius: 10px;
        height: 3.5em;
        margin-bottom: 10px;
    }
}

@media (max-width:1024px){
    body{
        overflow: hidden;
    }

    .title{
        display: flex;
        position: relative;
        margin: 0;
        left: 15px;
        /* top: -30px; */
        /* bottom: 45px; */
        align-items: center;
        margin-bottom: 10px;
        /* background-color: pink; */
    }

    .hamburguesa{
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        transition: 0.2s 0.1s;
    }

    .hamburguesa:hover{
        transform: rotate(360deg);
    }

    nav{
        flex-direction:column ;
        align-items: flex-start;
        /* Padding 0 25px; */
    }

    .buscar-container{
        display: none;
    }

    .clases-menu{
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        height: 18vh;
        margin: 0;
        padding: 0;
        width: 100%;
        /* background-color: pink; */
        display: none;
        opacity: 0;
    }

    .iconos-menu{
        flex-direction: column;
        /* justify-content: space-around; */
        border: none;
        align-items: center;
        width: 100%;
        height: 12vh;
        margin: 0;
        padding: 0;
        display: none;
        /* background-color: #EF3340; */
        opacity: 0;
    }

    .cuenta-menu{
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        width: 100%;
        height: 60vh;
        margin: 0;
        padding: 0;
        display: none;
        /* background-color: #EF3340; */
        opacity: 0;
    }

    .clases-menu li{
        width: 90%;
        background-color: #202020;
        border-radius: 10px;
        height: 3.5em;
        margin-bottom: 10px;
    }

    .icono-corazon a::before {
        content: "Wishlist"; /* Agrega el texto que desees */
        font-size: 1.4rem;
        margin-right: 8px; /* Espacio entre el icono y el texto */
    }

    .icono-carrito a::before {
        content: "Carrito de compra"; /* Agrega el texto que desees */
        font-size: 1.4rem;
        margin-right: 8px; /* Espacio entre el icono y el texto */
    }

    .iconos-menu li{
        width: 90%;
        background-color: #202020;
        border-radius: 10px;
        height: 3.5em;
        margin-bottom: 10px;
    }

    .cuenta-menu li{
        width: 90%;
        background-color: #202020;
        border-radius: 10px;
        height: 3.5em;
        margin-bottom: 10px;
    }
}

/* IPHONE 13 PRO MAX */

@media (max-width:428px){
    body{
        overflow: scroll;
        /* overflow: hidden; */
    }

    .texto-container{
        position: absolute;
        text-align: center;
        font-family: 'titulo';
        font-weight: bold;
        font-size: 3.5rem;
        width: 100%;
        color: aliceblue;
        top: 10vh;
        /* background-color: #EF3340; */
        z-index: 5;
    }
    
    .texto-container a:hover{
        /* Lo haremos mas suave */
        background-color: transparent; /* Cambia el color de fondo predeterminado */
        transition: background-color 0.3s ease; /* Agrega una transición para background-color */
        background-color: #202020;
    }

    .title{
        display: flex;
        position: relative;
        margin: 0;
        left: 15px;
        /* top: -30px; */
        /* bottom: 45px; */
        align-items: center;
        margin-bottom: 10px;
        /* background-color: pink; */
    }

    .hamburguesa{
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        transition: 0.2s 0.1s;
    }

    .hamburguesa:hover{
        transform: rotate(360deg);
    }

    nav{
        position: relative;
        flex-direction:column ;
        align-items: flex-start;
        z-index: 10;
        /* Padding 0 25px; */
    }

    .slides{
        /* width: 100%; */
        height:100vh;
        margin: 0;
        overflow: scroll;
        position: relative;
        z-index: 1;
    }

    .slide{
        position: absolute;
        height: 100%;
        opacity: 0;
        inset: 0;
        margin: 0;
        animation: slide-show 12s infinite;
    }
    
    .slide-2{
        animation-delay: 2s;
    }
    .slide-3{
        animation-delay: 4s;
    }
    
    .slide-4{
        animation-delay: 6s;
    }
    
    .slide-5{
        animation-delay: 8s;
    }
    
    .slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .content-container {
        overflow-y: scroll; /*Habilita el scroll vertical para el contenido */
        max-height: 90vh; /* Limita la altura del contenedor de contenido al 80% de la altura de la pantalla */
    }

    .buscar-container{
        display: none;
    }

    .clases-menu{
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        height: 18vh;
        margin: 0;
        padding: 0;
        width: 100%;
        /* background-color: pink; */
        display: none;
        opacity: 0;
    }

    .iconos-menu{
        flex-direction: column;
        /* justify-content: space-around; */
        border: none;
        align-items: center;
        width: 100%;
        height: 12vh;
        margin: 0;
        padding: 0;
        display: none;
        /* background-color: #EF3340; */
        opacity: 0;
    }

    .cuenta-menu{
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        width: 100%;
        height: 60vh;
        margin: 0;
        padding: 0;
        display: none;
        /* background-color: #EF3340; */
        opacity: 0;
    }

    .clases-menu li{
        width: 90%;
        background-color: #202020;
        border-radius: 10px;
        height: 3.5em;
        margin-bottom: 10px;
    }

    .icono-corazon a::before {
        content: "Wishlist"; /* Agrega el texto que desees */
        font-size: 1.4rem;
        margin-right: 8px; /* Espacio entre el icono y el texto */
    }

    .icono-carrito a::before {
        content: "Carrito de compra"; /* Agrega el texto que desees */
        font-size: 1.4rem;
        margin-right: 8px; /* Espacio entre el icono y el texto */
    }

    .iconos-menu li{
        width: 90%;
        background-color: #202020;
        border-radius: 10px;
        height: 3.5em;
        margin-bottom: 10px;
    }

    .cuenta-menu li{
        width: 90%;
        background-color: #202020;
        border-radius: 10px;
        height: 3.5em;
        margin-bottom: 10px;
    }

    .slides::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.60); /* Cambia la opacidad aquí según tus preferencias */
        z-index: 1; /* Asegura que la capa esté por encima de las imágenes */
    }
    
}


/* Animaciones */

@keyframes mostrarMenu {
    from{opacity: 0;}
    to {opacity: 1;} 
}

/* ACTIVACION DEL SANDWICH */
.clases-menu.activado{
    display: flex;
    animation: mostrarMenu 350ms ease-in-out
    both;
}

.iconos-menu.activado{
    display: flex;
    animation: mostrarMenu 350ms ease-in-out
    both;
}

.cuenta-menu.activado{
    display: flex;
    animation: mostrarMenu 350ms ease-in-out
    both;
}

.br-1.animado{
    transform: rotate(-45deg) translate(-10px, 4px);
}

.br-2.animado{
    opacity: 0;
}

.br-3.animado{
    transform: rotate(45deg) translate(-10px, -4px);
}

.slides::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60); /* Cambia la opacidad aquí según tus preferencias */
    z-index: 1; /* Asegura que la capa esté por encima de las imágenes */
}

.oculto {
    display: none;
}

/* Ajusta esto según tus necesidades */
.activado {
    /* Estilos para cuando el menú está activado */
    overflow: hidden;  /*Deshabilita el desplazamiento en el contenedor activado */

}

.activado, .foot {
    /* Estilos para cuando el menú está activado */
    height: 20vh;
}
  
  /* Asegúrate de que el desplazamiento sea visible cuando el menú no esté activado */
  /* :not(.activado) { */
    /* overflow: visible; 
}

*/